cat > .gitignore << 'EOF'
__pycache__/
*.py[cod]

.venv/
venv/
env/

.env

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.sqlite3
*.db

.DS_Store

.idea/
.vscode/
EOF
.idea
.venv
src/Boards_service/Infrastructure/__pycache__
src/Boards_service/__pycache__
src/Boards_service/repository/__pycache__
src/Boards_service/repository/interfaces/__pycache__
src/Boards_service/routes/__pycache__
src/Boards_service/schemas/__pycache__
src/Boards_service/service/__pycache__
src/__pycache__
